.container-section-services {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .services-title {
        font-size: var(--font-large);
        font-weight: var(--font-bold);
    }

    .container-cards-services {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width:768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}