.container-section-design-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6rem;
    position: relative;

    .container-all-inputs-measures {
        position: relative;

        .tableStyle {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border: 0.15rem solid red;
            pointer-events: none;
        }
    }

    .container-loader-furniture-table {
        min-height: 27rem;
        max-height: 27rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);

        @media (max-width: 672px) {
            min-height: 28rem;
            max-height: 28rem;
        }
    }
}