.container-section-design-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6rem;
    // padding: 0 1.5rem;

    // @media (max-width: 523px) {
    //     padding-left: 1rem;
    //     padding-right: 1rem;
    // }
}