.container-section-info-product-detail {
    min-height: 30rem;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width:1080px) {
        min-height: 19rem;
        max-height: 19rem;
        min-width: 42rem;
        max-width: 42rem;
        gap: 5rem;
    }

    @media (max-width:768px) {
        min-height: 29rem;
        max-height: 29rem;
        min-width: 100%;
        max-width: 100%;
    }

    @media (max-width: 523px) {
        padding: 0 1rem;
    }

    @media (max-width:350px) {
        min-height: 33rem;
        max-height: revert;
    }

    .container-section-old-prices {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .product-title {
            text-transform: uppercase;
            font-size: var(--font-xlarge);
            font-weight: var(--font-bold);
        }

        .old {
            font-size: var(--font-medium);
            font-weight: var(--font-regular);
            text-decoration: line-through;
            color: var(--secondary-white);
        }

        .new {
            font-size: var(--font-xmedium);
            font-weight: var(--font-regular);
            font-weight: var(--font-bold);
        }
    }

    .container-section-buttons-prices {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        font-weight: var(--font-bold);
        font-size: var(--font-xmedium);

        @media (max-width:1080px) {
            flex-direction: row;
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .wrapper-btns-prices {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            min-width: 17rem;
            max-width: 17rem;

            @media (max-width:350px) {
                min-width: revert;
                max-width: revert;
            }

            .info-wallet {
                display: flex;
                justify-content: space-between;

                @media (max-width:350px) {
                    gap: 1rem;
                }

                .percentage {
                    color: var(--tertiary-color);
                    text-transform: uppercase;
                    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
                }
            }

            .container-btn-prices {
                display: flex;
                align-items: center;
                gap: 1rem;
                background-color: var(--primary-color);
                border-radius: var(--border-radius);
                border: 1px solid var(--secondary-white);
                color: var(--primary-white);
                padding: 0.5rem 1rem;
                box-shadow: var(--box-shadow);
                cursor: pointer;
                font-weight: var(--font-bold);
                font-size: var(--font-medium);

                &:hover {
                    color: var(--tertiary-color);
                    border: 1px solid var(--tertiary-color);
                }

                @media (max-width:442px) {
                    transition: var(--transition-scale-mobile);

                    &:hover {
                        color: var(--primary-white);
                        border: 1px solid var(--secondary-white);
                        transform: var(--scale-mobile);
                        transition: var(--transition-scale-mobile);
                    }
                }
            }
        }
    }
}