.container-section-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 6rem;
    min-width: 100vw;
    max-width: 100vw;

    .container-header-categories {
        padding: 0 1rem;
        text-align: center;
        font-size: var(--font-xlarge);
        font-weight: var(--font-bold);

        .categories-title {
            font-size: var(--font-big);
            text-transform: uppercase;
            color: var(--tertiary-color);

            @media (max-width:442px) {
                font-size: var(--font-xlarge);
            }
        }

        @media (max-width:442px) {
            font-size: var(--font-large);
        }
    }

    .container-cards-categories {
        min-width: 90vw;
        max-width: 90vw;
        min-height: 41rem;
        max-height: 41rem;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(11, 1fr);
        gap: 1.5rem;

        @media (max-width:992px) {
            min-width: 100vw;
            max-width: 100vw;
        }

        @media (max-width:768px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-template-rows: repeat(8, 1fr);
            padding: revert;
            min-height: 55rem;
            max-height: 55rem;
        }

        @media (max-width:523px) {
            grid-template-rows: revert;
            min-height: 70rem;
            max-height: 70rem;
            gap: 2rem;
        }
    }
}