.wrapper-label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    --width-large-form: 20rem;

    @media (max-width:1250px) {
        --width-large-form: 18rem;
    }

    @media (max-width:1170px) {
        --width-large-form: 16rem;
    }

    .text-custom {
        font-weight: var(--font-bold);
        font-size: var(--font-xmedium);
    }

    .input-custom {
        min-width: var(--width-large-form);
        max-width: var(--width-large-form);

        &.contact-page {
            min-width: 100%;
            max-width: 100%;
        }

        outline: none;
        background-color: transparent;
        border: none;
        color: var(--primary-white);
        border: 1px solid var(--secondary-white);
        border-radius: var(--border-radius);
        padding: 0.5rem 1rem;
        font-weight: var(--font-regular);
        font-size: var(--font-medium);

        &:focus {
            border: 1px solid var(--tertiary-color);
        }

        &::placeholder {
            font-size: var(--font-small);
        }

        &::-ms-expand {
            display: none;
        }

        @media (max-width:992px) {
            min-width: 100%;
            max-width: 100%;
        }

        @media (max-width:640px) {
            padding: 0.5rem;
        }
    }

    .select-custom {
        min-width: var(--width-large-form);
        max-width: var(--width-large-form);
        outline: none;
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        border: 1px solid var(--secondary-white);
        font-weight: var(--font-bold);
        font-size: var(--font-medium);
        appearance: none;
        position: relative;
        background-color: var(--primary-color);
        color: var(--primary-white);
        cursor: pointer;

        &:focus {
            color: var(--primary-white);
            border: 1px solid var(--primary-white);
        }

        &::-ms-expand {
            display: none;
        }

        @media (max-width:992px) {
            min-width: 100%;
            max-width: 100%;
        }

        @media (max-width:640px) {
            padding: 0.5rem;
        }

        @media (min-width: 442px) {
            &:hover {
                color: var(--tertiary-color);
                border: 1px solid var(--tertiary-color);
            }
        }

        @media (max-width:442px) {
            box-shadow: var(--box-shadow);
        }
    }
}

.wrapper-note {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .text-custom {
        font-weight: var(--font-bold);
        font-size: var(--font-xmedium);
    }

    .text-area-custom {
        min-width: 100%;
        max-width: 100%;
        min-height: 10rem;
        max-height: 10rem;
        border-radius: var(--border-radius);
        border: 1px solid var(--secondary-white);
        background-color: transparent;
        padding: 0.5rem;
        font-weight: var(--font-regular);
        font-size: var(--font-medium);
        color: var(--primary-white);
        outline: none;
        font-family: var(--font-Roboto), var(--font-mono);

        &:focus {
            border: 1px solid var(--tertiary-color);
        }

        &::placeholder {
            font-size: var(--font-small);
        }
    }
}