.container-section-product-contact {
    min-width: 100%;
    max-width: 100%;
    padding: 6rem 1.5rem;

    @media (max-width:523px) {
        padding: 6rem 1rem;
    }

    @media (max-width:442px) {
        padding: 6rem 0rem;
    }

    .container-wrapper-card-contact-vertical {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: var(--secondary-color);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        padding: 2rem;
        overflow: hidden;

        @media (max-width:1170px) {
            padding: 2rem 1.3rem;
        }

        @media (max-width:992px) {
            padding: 2rem 1rem;
        }

        .container-wrapper-card-contact {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            @media (max-width:992px) {
                flex-direction: column;
                align-items: center;
                gap: 2rem;
            }

            .container-outer-image-product-contact {
                position: relative;
                min-height: 25rem;
                max-height: 25rem;
                min-width: 25rem;
                max-width: 25rem;
                user-select: none;
                border-radius: var(--border-radius);
                overflow: hidden;

                * {
                    pointer-events: none;
                }

                @media (max-width:1170px) {
                    min-height: 21.4rem;
                    max-height: 21.4rem;
                    min-width: 21.4rem;
                    max-width: 21.4rem;
                }

                @media (max-width:992px) {
                    min-height: 25rem;
                    max-height: 25rem;
                    min-width: 25rem;
                    max-width: 25rem;
                }

                @media (max-width:768px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    min-height: 10rem;
                    max-height: 100%;
                    min-width: 100%;
                    max-width: 100%;
                }

                .container-inner-image-product-contact {
                    object-fit: cover;
                    object-position: center;

                    @media (max-width:768px) {
                        position: revert !important;
                    }
                }
            }

            .container-section-form {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                --width-large-form: 20rem;

                @media (max-width:1250px) {
                    --width-large-form: 18rem;
                }

                @media (max-width:1170px) {
                    --width-large-form: 16rem;
                }

                @media (max-width:992px) {
                    min-width: 100%;
                    max-width: 100%;
                }

                .wrapper-field-complete {
                    display: flex;
                    align-items: flex-end;
                    gap: 3rem;

                    @media (max-width:1170px) {
                        gap: 1.5rem;
                    }

                    @media (max-width:992px) {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                    }

                    @media (max-width:600px) {
                        grid-template-columns: repeat(1, 1fr);
                    }

                    .btn-custom {
                        min-width: var(--width-large-form);
                        max-width: var(--width-large-form);
                        border: 1px solid var(--secondary-white);
                        padding: 0.5rem 1rem;
                        border-radius: var(--border-radius);
                        font-weight: var(--font-bold);
                        font-size: var(--font-medium);
                        background-color: var(--primary-color);
                        color: var(--primary-white);
                        cursor: pointer;
                        box-shadow: var(--box-shadow);

                        &:hover {
                            color: var(--tertiary-color);
                            border: 1px solid var(--tertiary-color);
                        }

                        &:disabled {
                            cursor: not-allowed;
                            opacity: 0.6;

                            &:hover {
                                color: var(--primary-white);
                            }
                        }

                        @media (max-width:992px) {
                            min-width: 100%;
                            max-width: 100%;
                        }

                        @media (max-width:600px) {
                            padding: 0.5rem;
                        }

                        @media (max-width:442px) {
                            transition: var(--transition-scale-mobile);

                            &:hover {
                                transform: var(--scale-mobile);
                                transition: var(--transition-scale-mobile);
                            }
                        }
                    }

                    .btn-send-custom {
                        min-width: var(--width-large-form);
                        max-width: var(--width-large-form);
                        border: 1px solid var(--secondary-white);
                        padding: 0.5rem 1rem;
                        border-radius: var(--border-radius);
                        font-weight: var(--font-bold);
                        font-size: var(--font-medium);
                        background-color: var(--primary-color);
                        color: var(--primary-white);
                        box-shadow: var(--box-shadow);
                        cursor: pointer;

                        &:hover {
                            color: var(--tertiary-color);
                            border: 1px solid var(--tertiary-color);
                        }

                        &:disabled {
                            cursor: not-allowed;
                            opacity: 0.6;

                            &:hover {
                                color: var(--primary-white);
                            }
                        }

                        @media (max-width:992px) {
                            min-width: 100%;
                            max-width: 100%;
                        }

                        @media (max-width:600px) {
                            padding: 0.5rem;
                        }

                        @media (max-width:442px) {
                            transition: var(--transition-scale-mobile);

                            &:hover {
                                transform: var(--scale-mobile);
                                transition: var(--transition-scale-mobile);
                            }
                        }
                    }
                }

                .text-note-custom {
                    font-weight: var(--font-bold);
                    font-size: var(--font-small);
                    color: var(--secondary-white);
                }
            }
        }

        .text-error-custom {
            color: var(--tertiary-color);
            font-weight: var(--font-bold);
            font-size: var(--font-medium);
        }
    }
}