:root {
  --calc-rem: calc(14px + (20.56 - 14) * ((100vw - 280px) / (3840 - 280)));
  --font-mono: var(--font-Roboto), ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-regular: 400;
  --font-bold: 700;
  --font-xgiant: 4rem;
  /* 64px */
  --font-giant: 3.5rem;
  /* 56px */
  --font-xbig: 3rem;
  /* 48px */
  --font-big: 2.5rem;
  /* 32px */
  --font-xlarge: 2rem;
  /* 32px */
  --font-large: 1.5rem;
  /* 24px */
  --font-xmedium: 1.125rem;
  /* 18px */
  --font-medium: 1rem;
  /* 16px */
  --font-small: 0.875rem;
  /* 14px */
  --border-radius: 0.2rem;
  --primary-white: #F2F2F2;
  --primary-color: #232730;
  --secondary-color: #2F3540;
  --tertiary-color: #4477be;
  --wrapper-calc-7rem: calc(100vw - 7rem);
  --wrapper-calc-5rem: calc(100vw - 5rem);
  --wrapper-calc-3rem: calc(100vw - 3rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  position: relative;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  min-width: 100vw;
  max-width: 100vw;
  background-color: var(--primary-color);
  color: var(--primary-white);
  font-family: var(--font-mono);
  font-weight: var(--font-regular);
  font-size: var(--calc-rem);
  padding-bottom: 3rem;
}

body::-webkit-scrollbar {
  width: 0.15rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-white);
  border-radius: 0.15rem;
}

a {
  color: inherit;
  text-decoration: none;
}