.container-section-navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--palletete-color-4);
    min-height: 4rem;
    max-height: 4rem;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    .menu-logo {
        font-size: var(--font-xlarge);
        font-weight: var(--font-bold);
        text-transform: uppercase;
    }

    .container-menu-titles {
        display: flex;
        gap: 1.5rem;

        .titles {
            font-weight: var(--font-bold);
            font-size: var(--font-xmedium);
            transition:color 0.3s ease-in-out;

            &:hover {
                color: var(--palletete-color-5);

            }
        }
    }
}