.container-section-slogan {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;

    .container-slogan-card {
        min-width: 90vw;
        max-width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;

        @media (max-width:768px) {
            gap: 2rem;
        }

        @media (max-width:659px) {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 4rem;
        }

        .container-networks {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            min-height: 10.5rem;
            max-height: 10.5rem;
            padding-bottom: 0.5rem;

            @media (max-width:659px) {
                justify-content: space-between;
                align-items: center;
                min-width: 100%;
                max-width: 100%;
                padding-bottom: revert;
                min-height: revert;
                max-height: revert;
                gap: 2rem;
            }

            .box-networks {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
                min-width: 12.5rem;
                max-width: 12.5rem;

                .title-networks {
                    width: 9rem;
                    text-align: left;
                    font-size: var(--font-large);
                    font-weight: var(--font-bold);
                    padding-bottom: 0.3rem;
                    border-bottom: 0.3rem solid var(--secondary-color);
                }

                .container-icons-networks {
                    display: flex;
                    justify-content: space-between;
                    width: 9rem;
                }

                @media (max-width:659px) {
                    align-items: center;
                    gap: 1.5rem;

                    .title-networks {
                        text-align: center;
                        min-width: 12.5rem;
                        max-width: 12.5rem;
                    }

                    .container-icons-networks {
                        min-width: 12.5rem;
                        max-width: 12.5rem;
                    }
                }
            }

            .button-contact {
                min-width: 12.5rem;
                max-width: 12.5rem;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--primary-white);
                background-color: var(--secondary-color);
                padding: 0.6rem 1.2rem;
                font-size: var(--font-small);
                font-weight: var(--font-bold);
                text-transform: uppercase;
                border-radius: var(--border-radius);
                border: none;
                box-shadow: var(--box-shadow);

                &:hover {
                    color: var(--tertiary-color);
                    transition: color 0s ease-in-out;
                }

                @media (max-width:442px) {
                    transition: var(--transition-scale-mobile);

                    &:focus,
                    &:hover {
                        color: var(--primary-white);
                        transform: var(--scale-mobile);
                        transition: var(--transition-scale-mobile);
                    }
                }
            }
        }

        .container-titles {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 10.5rem;
            max-height: 10.5rem;

            @media (max-width:659px) {
                align-items: center;
                gap: 1rem;
                min-height: revert;
                max-height: revert;
            }

            .title {
                font-size: var(--font-big);
                font-weight: var(--font-bold);
                max-width: 23rem;

                @media (max-width:659px) {
                    text-align: center;
                    max-width: 85%;
                }

                @media (max-width:442px) {
                    max-width: 100%;
                }
            }

            .subtitle {
                font-size: var(--font-xmedium);
                font-weight: var(--font-bold);
                color: var(--tertiary-color);
                text-transform: uppercase;
            }
        }
    }
}