.container-section-furniture-table {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--secondary-color);

    @media (max-width: 442px) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &:hover {
        .container-header-table .container-carousel-btns .carousel-btn-arrow {
            opacity: 1;

            @media (max-width: 442px) {
                display: none;
            }
        }
    }

    .container-header-table {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;
        gap: 1.5rem;

        @media (max-width: 523px) {
            padding: 0 1rem;
        }

        .container-titles-header-table {
            min-height: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .title-table {
                font-size: var(--font-big);
                font-weight: var(--font-bold);
                text-transform: uppercase;
                color: var(--tertiary-color);

                @media (max-width:442px) {
                    font-size: var(--font-xlarge);
                    min-height: 4rem;
                }
            }

            .subtitle-table {
                font-size: var(--font-xmedium);
                font-weight: var(--font-regular);
            }
        }

        .container-carousel-btns {
            display: flex;
            justify-content: center;
            align-items: center;

            .carousel-btn-arrow {
                opacity: 0;
                background-color: var(--primary-color);
                pointer-events: auto;
                border: none;
                cursor: pointer;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;

                &.left {
                    border-top-left-radius: var(--border-radius);
                    border-bottom-left-radius: var(--border-radius);
                }

                &.right {
                    border-top-right-radius: var(--border-radius);
                    border-bottom-right-radius: var(--border-radius);
                }

                @media (max-width: 442px) {
                    display: none;
                }
            }
        }
    }

    .text-error-custom {
        color: var(--tertiary-color);
        font-weight: var(--font-bold);
        font-size: var(--font-medium);
        text-align: center;
    }
}

.isRequired{
    color: var(--tertiary-color);
}