.container-outer-proyects-card {
    min-width: 25rem;
    max-width: 25rem;
    min-height: 15rem;
    max-height: 15rem;

    position: relative;
    user-select: none;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    * {
        pointer-events: none;
    }

    &:hover {
        .container-overlay-proyects-card {
            opacity: 0;
            transition: opacity 350ms ease-in-out;

            @media (max-width: 442px) {
                opacity: revert;
                transition: revert;
            }
        }

        .container-inner-proyects-card {
            transform: scale(1.025);
            transition: transform 350ms ease-in-out;

            @media (max-width: 442px) {
                transform: revert;
                transition: revert;
            }
        }
    }

    @media (max-width: 442px) {
        min-width: 80vw;
        max-width: 80vw;
        min-height: 16rem;
        max-height: 16rem;
    }

    .container-inner-proyects-card {
        object-fit: cover;
        object-position: center;
        transition: transform 350ms ease-in-out;
    }

    .container-overlay-proyects-card {
        position: absolute;
        top: 0;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        background-color: var(--primary-color);
        opacity: 0.2;
        transition: opacity 350ms ease-in-out;

        @media (max-width: 442px) {
            display: none;
        }
    }
}