.container-outer-banner-image {
    position: relative;
    height: 35rem;
    min-width: 100vw;
    max-width: 100vw;
    user-select: none;

    * {
        pointer-events: none;
    }

    .container-inner-banner-image {
        object-fit: cover;

        &.homePage {
            object-position: 7.5% 40%;
        }


        &.productPage {
            object-position: 50% 35%;
        }

        &.aboutUsPage {
            object-position: 50% 0%;
        }
    }
}