.titles {
    font-weight: var(--font-bold);
    font-size: var(--font-xmedium);
    cursor: pointer;

    &:hover {
        color: var(--tertiary-color);
        transition: color 0.3s ease-in-out;
    }

    &.isToTop {
        font-weight: var(--font-regular);
        font-size: var(--font-xsmall);
    }
}