.container-menu-mobile {
    position: absolute;
    top: 0;
    right: -60vw;
    min-width: 60vw;
    min-height: 100vh;
    max-height: 100vh;
    background-color: var(--primary-color);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.6);
    border-left: 2px solid var(--secondary-color);
    display: block;
    z-index: 3;
    transition: right 0.3s ease;
    opacity: 0;

    &.isOpen {
        right: 0;
        opacity: 1;
    }

    @media (max-width:442px) {
        right: -75vw;
        width: 75vw;
    }

    @media (max-width:350px) {
        right: -100vw;
        width: 100vw;
    }

    .container-side-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1.5rem;
        width: 100%;
        min-height: 100vh;
        max-height: 100vh;

        .container-header-mobile-menu {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 4.5rem;
            max-height: 4.5rem;
            padding: 0rem 1.5rem;
            border-bottom: 2px solid var(--secondary-color);

            @media (max-width:442px) {
                padding: 1rem 1rem;
            }

            .menu-logo {
                font-size: var(--font-xlarge);
                font-weight: var(--font-bold);
                text-transform: uppercase;
            }

            .btn-mobile-burgermenu {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 2.5rem;
                max-width: 2.5rem;
                min-height: 2.5rem;
                max-height: 2.5rem;
                cursor: pointer;
                border: none;
                background-color: var(--secondary-color);
                border-radius: var(--border-radius);
                box-shadow: var(--box-shadow);
            }
        }

        .container-mobile-titles {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 100%;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0;
            }

            .mobile-title {
                color: var(--primary-white);
                font-weight: var(--font-bold);
                font-size: var(--font-xmedium);
                cursor: pointer;
                border: none;
                background-color: var(--secondary-color);
                width: 100%;
                text-align: left;
                padding: 1rem 2rem;

                @media (max-width:442px) {
                    padding: 1rem 1rem;
                }

                &:hover {
                    color: var(--tertiary-color);
                    transition: color 0s ease-in-out;
                }

                &.dropdownActive {
                    border-bottom: 2px solid var(--primary-color);
                }

                &.dropdown {
                    font-size: var(--font-medium);
                    padding: 1rem 0;
                    padding-left: 3rem;
                    border-bottom: 2px solid var(--primary-color);

                    @media (max-width:442px) {
                        padding-left: 2rem;
                    }
                }
            }

            .container-mobile-dropdowns-titles {
                display: flex;
                flex-direction: column;
                padding: 0;
                background-color: var(--secondary-color);
                width: 100%;
            }
        }
    }
}

.container-overlay-menu-mobile {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    backdrop-filter: blur(25px);
}