.container-section-product-detail-gallery {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    @media (max-width:768px) {
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
    }

    @media (max-width:442px) {
        min-height: 100%;
        max-height: 100%;
    }

    .container-outer-image-product-detail {
        position: relative;
        min-width: 30rem;
        max-width: 30rem;
        min-height: 30rem;
        max-height: 30rem;
        overflow: hidden;
        border-radius: var(--border-radius);
        user-select: none;

        * {
            pointer-events: none;
        }

        @media (max-width:768px) {
            min-width: 100%;
            max-width: 100%;
            min-height: revert;
            max-height: revert;
        }

        .container-inner-image-product-detail {
            object-fit: cover;
            object-position: center;

            @media (max-width:768px) {
                position: revert !important;
                border-radius: var(--border-radius);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .container-section-carousel {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        min-height: 30rem;
        max-height: 30rem;
        min-width: 11rem;
        max-width: 11rem;

        @media (max-width:768px) {
            flex-direction: row;
            min-width: 100%;
            max-width: 100%;
            min-height: 13rem;
            max-height: 13rem;
        }

        @media (max-width:442px) {
            min-height: 11.5rem;
            max-height: 11.5rem;
        }

        @media (max-width:400px) {
            min-height: 10rem;
            max-height: 10rem;
        }

        &:hover {
            .carousel-buttons .carousel-arrow {
                opacity: 1;
            }
        }

        .carousel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            scroll-behavior: smooth;
            overflow-y: scroll;
            overflow-x: hidden;
            user-select: none;

            &::-webkit-scrollbar {
                width: 0px;
                height: 0px;
                background-color: transparent;
            }

            @media (max-width: 768px) {
                display: inline-flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: revert;
                overflow-y: hidden;
                overflow-x: scroll;
            }

            .container-outer-image-carousel {
                position: relative;
                min-width: 11rem;
                max-width: 11rem;
                min-height: 12.5rem;
                max-height: 12.5rem;
                overflow: hidden;
                border-radius: var(--border-radius);
                cursor: pointer;
                user-select: none;

                * {
                    pointer-events: none;
                }

                @media (max-width:442px) {
                    min-height: 11.5rem;
                    max-height: 11.5rem;
                }

                @media (max-width:400px) {
                    min-height: 10rem;
                    max-height: 10rem;
                }

                .container-inner-image-carousel {
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        .carousel-buttons {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            background: transparent;
            pointer-events: none;

            @media (max-width:768px) {
                flex-direction: row;
            }

            @media (max-width: 442px) {
                display: none;
            }

            .carousel-arrow {
                opacity: 0;
                pointer-events: auto;
                background-color: var(--primary-color);
                pointer-events: auto;
                border: none;
                cursor: pointer;
                width: 3rem;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: var(--border-radius);
                transition: opacity 0s ease-in-out;
            }
        }
    }
}