.container-icon-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    cursor: pointer;

    &:hover {
        .icon-svg {
            fill: var(--tertiary-color);
            transition: color 0s ease-in-out;
        }
    }
}