.container-icon-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;

    @media (min-width: 442px) {
        &:hover {
            .icon-svg {
                cursor: pointer;
                fill: var(--tertiary-color);
                transition: color 0s ease-in-out;
            }
        }
    }
}