.container-section-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100vw;
    max-width: 100vw;
    height: 100%;
    padding: 6rem 1.5rem;

    @media (max-width: 523px) {
        padding: 6rem 1rem;
    }

    .container-filters {
        min-width: 18vw;
        max-width: 18vw;

        @media (max-width:992px) {
            min-width: 25vw;
            max-width: 25vw;
        }
    }

    .container-product-cards {
        min-width: 75vw;
        max-width: 75vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        gap: 1rem;

        @media (max-width:992px) {
            min-width: 65vw;
            max-width: 65vw;
        }
    }
}