.container-section-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    min-width: 100%;
    max-width: 100%;
    min-height: 3rem;
    max-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;

    .divider {
        border-top: 0.1rem solid var(--secondary-color);
        min-width: 100%;
        max-width: 100%;
        padding: 1rem;

        .secondary-title {
            font-size: var(--font-small);
            font-weight: var(--font-regular);
            text-align: center;
        }
    }
}