.container-section-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .primary-footer {
        min-width: 90vw;
        max-width: 90vw;
        min-height: 3rem;
        max-height: 3rem;
        padding: 1rem 0;
        display: flex;
        justify-content: flex-end;
    }

    .divider {
        border-top: 2px solid var(--secondary-color);
        min-width: 90vw;
        max-width: 90vw;
        min-height: 3rem;
        max-height: 3rem;
        padding: 1rem;

        @media (max-width:442px) {
            padding-bottom: 2rem;
        }

        .secondary-title {
            font-size: var(--font-small);
            font-weight: var(--font-regular);
            text-align: center;
        }
    }
}